.task-list-wrapper {
  height: calc(100vh - 120px);
  overflow-y: auto;           
  padding: 10px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.task-card {
  width: 30%;
}
